<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ahorcado.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33E6898B1E2EA41100A22395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E6899F1E2EA41100A22395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E689AA1E2EA41200A22395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
